/* REMOVE SPINNERS FROM NUMBER INPUT */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*RESETS*/
body,
main,
header h1,
main ul {
  margin: 0px;
  padding: 0px;
}
/*GENERAL*/
Body {
  background-color: white;
}

/* SPECIFICS */
header {
  position: fixed;
  font-family: abril fatface;
  font-size: 24px;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 30px;
  border-bottom: #e5e5e5 2px solid;
  color: #ffffff;
  background-color: #3700b3;
  z-index: 100;
}

.header-logo {
  display: flex;
}
.header-logo img {
  width: 50px;
  height: 60px;
  margin-right: 25px;
}

main {
  margin-top: 100px;
}

h2 {
  color: #ffffff;
  background-color: #791bff;
  /* text-align: center; */
  border-bottom: #e5e5e5 2px solid;
  margin: 0;
  padding: 15px;
  font-size: 18px;
  text-align: center;
}
form {
  /* color: #ffffff; */
  background-color: #bb86fc;
  text-align: center;
  font-size: 18px;
  /* border: #e5e5e5 2px solid; */
  margin: 0;
  padding: 5px;
}
#budget-input {
  background-color: #bb86fc;
  margin: 0;
  padding: 10px;
  border: none;
  font-size: 14px;
  text-align: center;
}
.margin-class {
  margin: 50px;
}
.category-selection {
  padding: 5px 10px;
  width: 48%;
  float: left;
  flex: 4;
}
.category-selection ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.category-list {
  list-style-type: none;
  width: 100%;
  height: 50px;
  margin-top: 5px;
  flex: 1;
}
li {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #3700b3;
  /* flex: 1; */
}
.category-list a {
  background-color: white;
  /* border: #e5e5e5 solid 2px; */
  /* width: 50%;
  height: 75%; */
  color: #6a6861;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  /* justify-content: center;
    align-items: center; */
  flex: 2;
}
/* .category-list .highlighted-cat {
    border: 3px solid #70946f;
    color: #70946f;
    font-weight: bold;
    background-color: #ebf4e5;
  } */
.category-list div {
  padding: 5px;
  width: 50px;
  height: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  filter: hue-rotate(546deg);
  flex: 1;
}
.img-div {
  width: 50%;
  height: 50%;
  align-items: center;
}
.img-div1 {
  width: 50%;
  height: 50%;
  background-image: url("assets/img/entertainment1.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
}
.img-div2 {
  background-image: url("assets/img/food1.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
}
.img-div3 {
  background-image: url("assets/img/clothing4.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: baseline;
}
.img-div4 {
  background-image: url("assets/img/bill1.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
}
.img-div5 {
  background-image: url("assets/img/prr.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
}
.expence-input {
  flex: 1;
}
.list-itmes {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 2;
}
.list-container {
  display: flex;
}
.view2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.view2 img {
  padding: 6px;
  width: 15%;
  height: 15%;
}
.view2 input {
  padding: 2px;
  margin: 6px;
  width: 80%;
}
.middle-section {
  padding: 5px 10px;
  width: 10%;
  float: middle;
  flex: 1;
}
.end-section {
  padding: 5px 10px;
  width: 40%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 4;
}
.items-container {
  width: 80%;
}
.items-container p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #efd2ea;
  margin: 0;
}
p.remaining-balance {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.budget-Update-btn {
  padding: 5px 30px;
  margin: 10px;
  border-radius: 5px;
  position: fixed;
  bottom: 80px;
}
.cancel-btn {
  background-color: #6200ee;
  color: white;
  padding: 5px 30px;
  margin: 5px;
  border-radius: 5px;
  position: fixed;
  bottom: 40px;
  left: 40%;
  align-items: center;
}
.cat-btn {
  display: none;
}
.hide {
  display: none;
}

footer {
  margin: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0px;
  /* border-bottom: #e5e5e5 2px solid; */
  color: #ffffff;
  background-color: #3700b3;
  align-items: center;
  /* z-index: 1; */
}

h6 {
  margin: 0;
  padding: 3px;
}
footer p {
  margin: 0;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.red {
  color: orangered;
  font-weight: bolder;
}

.green {
  color: rgb(97, 197, 80);
  font-weight: bolder;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  .cancel-btn {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #6200ee;
    color: white;
    padding: 5px 30px;
    border-radius: 5px;
    bottom: 40px;
    margin-left: 78px;
  }

  h6 {
    display: flex;
    justify-content: left;
  }

  .category-selection {
    margin-left: 50px;
    width: 30%;
  }
}
